<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pokemon.name %></title>
    <%- include("imports.ejs") %>
  </head>
  
  <body>
    <h1>Name: <%= pokemon.name %></h1>
    <img src ="<%= pokemon.img %>">
    <ul>
      <li>Type: <%= pokemon.type %></li>
      <li>Stats:</li><ul>
        <li>HP: <%= pokemon.stats.hp %></li>
        <li>Attack: <%= pokemon.stats.attack %></li>
        <li>Defense: <%= pokemon.stats.defense %></li>
        <li>Speed: <%= pokemon.stats.speed %></li>
        </ul>
      <li>Abilities, normal: <%= pokemon.misc.abilities.normal %></li>
      <li>Abilities, hidden: <%= pokemon.misc.abilities.hidden %></li>
    </ul>
    <a href="/pokemon/<%= id %>/edit"><button>Edit</button></a>
    <form action="/pokemon/<%= id %>?_method=DELETE" method="post">
      <input type="submit" value="DELETE"/>
    </form>
    <h3><a href="/pokemon">GO BACK TO POKEDEX</a></h3>
  </body>
</html>